                 a{
                color:black;
                text-decoration:none;
                border-bottom: 2px dashed black;
            }
            .content{
                border-left: 3px dashed gray;
                
                padding-right:300px;
                padding-left:150px;
                padding-top:50px;
                padding-bottom:200px;
            }
            
            .sidelist{
                list-style:none;
                color:black;
                text-decoration:none;
                border: 3px double gray;
                padding:30px;          
                margin-top:150px;
                margin-right:50px;
            }
            
            .bottomlist{
                border:5px hidden; 
                margin-left:250px;
                
            }
            .title{
              
                list-style:none;
                border-bottom: 3px dashed gray;  
                padding-left:150px;
                padding-right:50px;
                padding-top:70px;
                padding-bottom:20px;
                margin-bottom:0px;
                margin-top:0px;
                font-size:200%;
                font-weight:bold;
            }
             #middle{
                display:grid;
                grid-template-columns: 300px 1fr;
                border-bottom:3px dashed gray;
            }
            #bottom{
                display:grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            }
           
            @media(max-width:1750px){
                    
                    h2{
                        font-size:32pt;
                    }    
                    
                    h3{
                        text-align:center;
                        font-size:24pt;
                    }
                
                
                    a{
                    color:black;
                    text-decoration:none;
                    border-bottom: 2px solid black;
                    
                    }
                    .title{
                    font-size:250%;     
                    list-style:none;
                    border-bottom: 10px solid black;  
                    padding-left:50px;
                    padding-top:100px;
                    padding-bottom:50px;
                    }
                    .title ol{
                        text-align:center;
                    }
                    .sidelist{
                    display:none;
                    }
                    #middle{

                        display:grid;
                        grid-template-columns:1fr;
                        border: hidden;
                        padding:10px;
                    }
                    .content{
                    border-left: hidden;
                    padding-right:50px;
                    padding-left:50px;
                    padding-top:50px;
                    padding-bottom:200px;
                    }

                    .bottomlist{
                        border: hidden; 
                        margin:30px;

                    }
                     #bottom{
                        display:grid;
                        grid-template-columns: repeat(3,1fr);

                    }
                    #bottom div{
                       text-align:center;
                    }
                    #bottom a{
                        border:none;
                    }
                    
            
            
                    }